<h2>About Beer</h2>
<img src="assets/Beer.jpg" />
<div>
  <p>
    In the broadest sense, “beer” is any alcoholic beverage made by the fermentation of grain, just as wine is any alcoholic beverage made by the fermentation of fruit. In the vast majority of the world’s beers, the grain base is barley.
  </p>
    The brewing process commonly begins with malted barley, or “malt”—barley that has been germinated then roasted. The brewer mills the malt, cracking the grains between rollers to expose more surface area. Then, just as coffee grounds are steeped in hot water to extract their flavors, the malt is heated with water in a large kettle called a “mash tun.” At the end of mashing, the starches in the malt have been broken down into simple sugars, resulting in a sweet liquid known as “wort.”
    <p>
    The brewer rinses the malt (“sparging”) and strains it to get the last of the sugars into solution. The used malt is now “spent grain,” useless for beer, but still good for baking, or for animal feed.
  </p>
  <p>
    The wort is piped into the next large tank in the brewery, the brew kettle. Here, hops (green, cone-like flowers) are added and boiled with the liquid, providing bitterness and aroma.
  </p>
  <p>
    After boiling, the wort is rapidly cooled until it is at the right temperature to add yeast, the single-celled organisms that do the work of fermentation. The yeast is pitched in to the sweet wort, where it consumes the sugar, releasing alcohol and carbon dioxide in the process.
  </p>
  <p>
    After a while, the food runs low, and the increasingly alcoholic atmosphere becomes unfriendly: the yeast slow down, or even die. Fermentation is complete. The young beer is transferred to conditioning tanks to age, a process that can go from a few days to several weeks (or, occasionally, years) depending on the style. When the brewer decides the beer ready, the public gets to enjoy this work of art.
  </p>
</div>
