<div class="row">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div style="border-bottom: 2px solid #000;" class="columns small-6 medium-6 large-4 beers col-md-12 " *ngFor="let row of rows">
      <div>
        <div class="row">

          <div class="columns small-12 large-10 col-md-3">
            <img [src]="row.imageUrl" />
          </div>
          <div class="columns small-12 large-10 col-md-6">
            <div class="columns small-12 large-10 col-md-12">
              <b style="font-weight: bold;">{{row.name}}</b>
            </div>
            <div  class="columns small-12 large-10 col-md-12">
              {{row.description}}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
